.list {
    background-color: whitesmoke;
    color: black;
    width: 60%;

}
.centered {
    font-size: 50px;
    text-align: center;
}
.regular {
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}